* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  scroll-behavior: smooth;
}
#home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

#gridContainer {
  width: 70%;

  display: grid;
  height: 80%;

  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  border-bottom: 1px solid black;
}
/* .cards {
  width: 500px;
  height: 500px;
  background-color: red;
} */
#portifolio {
  display: flex;
  height: 100vh;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}
#portifolio h1 {
  margin-bottom: 20px;
}
#insideContainer {
  width: 60%;
  justify-content: center;
  align-items: center;
  height: 80%;

  border-bottom: 1px solid black;
  display: flex;
}
#about {
  display: flex;
  height: 100vh;

  align-items: center;
  justify-content: center;
}
#right {
  margin-left: 25px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
  font-size: 25px;
  font-weight: 500;
  flex-direction: column;
  width: 600px;
}
#right div:nth-child(1) {
  height: 200px;
  display: flex;
  width: 100%;

  justify-content: space-between;
}
#right div:nth-child(1) img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid chocolate;
}
#left {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex: 1;
  height: 100%;
  margin-right: 25px;
}
#contato {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid black;
}

/*responsividade em breve*/
@media screen and (max-width: 975px) {
  #home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
  }
  #home h1,
  h2 {
    font-size: 90%;
  }
  #areaImageProg img {
    height: 450px;
    width: 450px;
  }
  #right {
    font-size: 20px;
  }
  #right div:nth-child(1) {
    height: 100px;

    width: 100%;
  }
  .particles-bg-canvas-self {
    display: none;
  }
} ;
